.cart__title {
  color: var(--purple-light);
  font-size: 20px;
}

.cart__footer {
  display: flex;
  align-items: center;
}

.cart__price {
  margin: 0 10px 0 auto;
  display: block;
  width: max-content;
  color: var(--purple-light);
}

.cart__price-span {
  color: var(--gray);
}

.cart__button {
  background-color: #1a4594;
  color: var(--white);
  padding: 5px;
  cursor: pointer;
  border: none;
}