.productDetail__title {
  color: var(--purple-light);
  font-size: 20px;
}

.productDetail__line {
  margin-bottom: 20px;
}

.productDetail__container {
  position: relative;
}

.productDetail__quantity {
  position: absolute;
  background-color: var(--purple-light);
  color: var(--white);
  padding: 8px;
  width: 33px;
  height: 33px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

.productDetail__header {
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.productDetail__img {
  width: 50%;
  height: 100%;
}

.productDetail__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--gray);
}

.productDetail__info {
  padding: 10px;
}

.productDetail__info-container {
  border-bottom: 1px solid var(--gray);
  padding: 0 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productDetail__price-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.productDetail__name {
  font-size: 18px;
}

.productDetail__dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--gray);
}

.productDetail__price {
  color: var(--purple-light);
  font-size: 18px;
}

.productDetail__btn {
  border: none;
  padding: 5px 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background 200ms ease, color 200ms ease;
  border-radius: 2px;
}

.productDetail__btn.btn-less:hover {
  background-color: gray;
  color: var(--white);
}

.productDetail__btn.btn-plus {
  background-color: var(--purple-light);
  color: var(--white);
}

.productDetail__btn.btn-plus:hover{
  background-color: purple;
}

.productDetail__description {
  color: var(--gray);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray);
}